:root{

    /* Cores */

    --bg:#05070B;
    --bg-secondary:#0B1018;
    --card:#111827;

    --gold:#C9A54D;
    --gold-light:#DFC06F;

    --white:#F8FAFC;

    --gray:#98A2B3;
    --gray-dark:#6B7280;

    /* Sombras */

    --shadow:0 20px 60px rgba(0,0,0,.45);

    /* Bordas */

    --border:rgba(255,255,255,.08);

    /* Gradientes */

    --gradient:linear-gradient(
        135deg,
        #C9A54D 0%,
        #DFC06F 100%
    );

    /* Radius */

    --radius:18px;

    /* Container */

    --container:1280px;

}